.forecast {
  margin-top: 1rem;
  width: 100%;
  height: auto;
  padding-top: 1rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.element {
  margin-right: 1rem;
  width: calc(100% / 3);
}
.element:last-child {
  margin-right: 0;
}
