.content {
  position: relative;
}

.content * {
  background-color: transparent;
}

._small.content {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto 1fr;
  grid-template-areas: "icon city city" "icon temp wind";
  grid-column-gap: 0.7rem;
  align-items: center;
}

._medium.content {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "city city" "icon name" "icon feelslike" "temp wind" ". pressure";
  grid-column-gap: 1.2rem;
  align-items: center;
}

._large.content {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "city city" "icon name" "icon feelslike" "temp wind" ". pressure" "forecast forecast";
  grid-column-gap: 1.2rem;
  align-items: center;
}

.description {
  margin-right: 0.3rem;
  font-size: 1.2rem;
}

._small .description {
  display: none;
}

.value {
  font-size: 1.5rem;
}

._small .value {
  font-size: 2rem;
}

.unit {
  margin-left: 0.2rem;
  font-size: 1.5rem;
}

/*  Icon  */
.iconRow {
  grid-area: icon;
  width: 3.75rem;
  min-height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 100%;
  height: 100%;
  max-width: 80px;
}

.iconLoader {
  width: 2.75rem;
  height: 2.75rem;
}

/*  Name */
.name {
  grid-area: name;
}

/*  City  */
.city {
  grid-area: city;
  font-size: 1rem;
}

/*  Temp */
.temp {
  grid-area: temp;
  font-size: 1.5rem;
  text-align: center;
}
._small .temp {
  font-size: 2rem;
}

/*  Feelslike */
.feelslike {
  grid-area: feelslike;
}

/*  wind  */
.wind {
  grid-area: wind;
  display: flex;
  align-items: center;
}

._small .wind {
  justify-content: center;
}

.windSpeed {
  font-size: 2rem;
}

._medium .windSpeed,
._large .windSpeed {
  display: flex;
  align-items: flex-end;
}

._medium .windSpeed .description {
  padding-bottom: 1px;
}

.windDirection {
  margin-left: 0.3rem;
  width: 1.5rem;
  height: 1.5rem;
  color: #0099ff;
}

.windDirection > * {
  width: 100%;
  height: 100%;
}

/*  Pressure */
.pressure {
  grid-area: pressure;
}

/*  Forecast */
.forecast {
  grid-area: forecast;
}
