.widget {
  padding: 1rem;
  box-shadow: 0 0 1rem grey;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

._small {
  padding: 0.5rem 1rem;
  min-height: 4.75rem;
  min-width: 14.9rem;
}

._medium {
}

._large {
}
